---
---

<div class="main-content index-page clearfix ">
	<div class="post-lists">
		<div class="post-lists-body">
      {% for posts in paginator.posts %}
		<div class="post-list-item">
				<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}');"></div>
          	<a href="{{ posts.url }}">
	             <div class="item-desc">
		<p>{{ posts.content | strip_html | strip_newlines | truncate: 100 }}</p>
						</div>
					</a>
					<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
					<div class="item-slant">	<div class="INJNainggolan-title">
				原创
				</div></div>
					<div class="item-label">
						<div class="item-title"><a href="{{ posts.url }}" title="访问 {{ posts.title }}">{{ posts.title }}</a></div>
						<div class="item-meta clearfix">
						<div class="item-meta-ico bg-ico-book" style="background: url('style/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
             <div class="item-meta-cat">
				 <a href="/tags#{{ posts.category }}" title="访问 {{ posts.category }}" data-hover="{{ posts.category }}">{{ posts.category }}</a>
				 <a href="/archives#{{ posts.date | date: "%Y"}}" title="访问 {{ posts.date | date: "%Y"}}" data-hover="{{ posts.date | date: "%F %H:%M"}}">{{ posts.date | date: "%F %H:%M"}}</a></div>
						</div>
					</div>
				</div>
      </div>
       {% endfor %}
	</div>
	</div>
	$(function(){
		arrMusicID = [33469292,32648543,28287132,26511034,435305771,27588029,41462985,28656150,4010799];  //musicID array
		musicID = Math.floor(Math.random()*(arrMusicID.length)) //get a ran num as index
		$('body').css('height',document.documentElement.clientHeight -5);
	
		if (!Number.isInteger(arrMusicID[musicID])) return; // load failed, bye~
	
		var iframe = document.createElement('iframe');
		iframe.id="bgm";
		iframe.style = "position: absolute; bottom: 0; left: 30px; border: 0px;";
		iframe.src = '//music.163.com/outchain/player?type=2&id=' +arrMusicID[musicID]+ '&auto=1&height=32';
		console.log(iframe.src)
		iframe.frameborder="no";
		iframe.marginwidth="0";
		iframe.marginheight="0";
		iframe.width=250;
		iframe.height=52;
		document.body.appendChild(iframe);
	});
  {% include pagination.html %}